#employees {
    margin: 0 auto;
    border: solid 1px black;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

td {
    padding: 5px;
    border: solid 1px black
}

#header {
    text-align: center;
}

#title {
    text-align: center
}

#sort {
    display: inline block;
    margin-right: 10px;
}

.buttons {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.dropdown {
    display: inline-block;
    margin-left: 10px;
}